.continerList {
    width: 40rem;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
  .list_item {
    list-style: none;
    border: 2px solid rgb(91, 91, 91);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: left;
  }
  .list {
    padding: 1rem;
  }
  