* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(19, 19, 19);
  }
  .form {
    margin: 3rem auto;
    color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    width: 40rem;
    text-align: left;
    border: 1px solid white;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
  }
  input {
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 2px solid teal;
    border-radius:0.5rem ;
  }
  label{
   font-weight: 700;
   margin-bottom: 0.3rem;
  }
  .add-btn{
      width: 10rem;
      padding: 1rem;
      background-color: blueviolet;
      color: white;
      font-weight: 700;
      border-radius:0.5rem ;
      border: none;
  }